<!-- MAIN CONTENT -->
<div class="main-container">
  <!-- Cards principales -->
  <div class="main-cards">
    <!-- Card Páginas Web -->
    <div class="card card-purple" id="paginas-web">
      <div class="card-content">
        <div class="card-icon-section">
          <span class="card-icon">🌐</span>
        </div>
        <div class="card-text-section">
          <h3 data-lang="web_title">Páginas Web</h3>
          <p data-lang="web_desc">Descubre algunas páginas web que he creado.</p>
          <ul class="project-list">
            <li onclick="toggleProjectCard('zomboyCard')" data-lang="zomboy_list">ZomboyShop-ReDesign</li>
            <li onclick="toggleProjectCard('festivalDestacadoCard')" data-lang="festivalDestacado_list">Festival DestaCado</li>
            <li onclick="toggleProjectCard('ec2Card')" data-lang="ec2_list">Contenedor en EC2 - AWS</li>
          </ul>
        </div>
        <div class="card-image-section">
          <div class="card-image">
            <img src="../imagenesP/ZomboyWeb.png" alt="ZomboyShop Web Design" loading="lazy" width="300" height="200" srcset="../imagenesP/ZomboyWeb.png 600w, ../imagenesP/ZomboyWeb.png 300w" sizes="(max-width: 600px) 100vw, 300px"
              onclick="openImageModal(this.src, this.alt)">
          </div>
        </div>
      </div>
    </div>


    <!-- Card Videojuegos -->
    <div class="card card-pink">
      <div class="card-content">
        <div class="card-icon-section">
          <span class="card-icon">🎮</span>
        </div>
        <div class="card-text-section">
          <h3 data-lang="games_title">Videojuegos</h3>
          <p data-lang="games_desc">Sumérgete en los videojuegos que he desarrollado.</p>
          <ul class="project-list">
            <li onclick="toggleProjectCard('bolosCard')" data-lang="bolos_list">Bolos en Unity con Háptico incluido
            </li>
            <li onclick="toggleProjectCard('escapeCard')" data-lang="escape_list">Escape Salvaje en Unity</li>
            <li onclick="toggleProjectCard('candyCard')" data-lang="candy_list">Candy Collector con OGL Engine y C++
            </li>
            <li onclick="toggleProjectCard('snakeCard')" data-lang="snake_list">Snake Slaughter con OGL Engine y
              Lenguaje Ensamblador</li>
          </ul>
        </div>
        <div class="card-image-section">
          <div class="card-image">
            <img src="../imagenesP/EscapeGame.jpg" alt="Escape Salvaje" loading="lazy" width="300" height="200" srcset="../imagenesP/EscapeGame.jpg 600w, ../imagenesP/EscapeGame.jpg 300w" sizes="(max-width: 600px) 100vw, 300px" onclick="openImageModal(this.src, this.alt)">
          </div>
        </div>
      </div>
    </div>

    <!-- Card Certificaciones -->
    <div class="card card-green" id="certificaciones">
      <div class="card-content">
        <div class="card-icon-section">
          <span class="card-icon">🏆</span>
        </div>
        <div class="card-text-section">
          <h3 data-lang="cert_title">Certificados</h3>
          <p data-lang="cert_desc">Observa algunos certificados que he obtenido.</p>
          <ul class="project-list">
            <li onclick="toggleProjectCard('sydneyCard')" data-lang="sydney_list">Innovation Through Design</li>
            <li onclick="toggleProjectCard('googleCard')" data-lang="google_list">GoogleCloud Fundamentals</li>
            <li onclick="toggleProjectCard('georgiaCard')" data-lang="georgia_list">Introduction to User Experience
              Design</li>
            <li onclick="toggleProjectCard('tecCard')" data-lang="tec_list">Desarrollo rápido de productos innovadores
              para mercados emergentes</li>
            <li onclick="toggleProjectCard('ioslabCard')" data-lang="ioslab_list">Reconocimiento iOSLab</li>
          </ul>
        </div>
        <div class="card-image-section">
          <div class="card-image">
            <img src="../imagenesP/Certificate.png" alt="Certificados" loading="lazy" width="300" height="200" srcset="../imagenesP/Certificate.png 600w, ../imagenesP/Certificate.png 300w" sizes="(max-width: 600px) 100vw, 300px" onclick="openImageModal(this.src, this.alt)">
          </div>
        </div>
      </div>
    </div>
  </div>
